@use "./base";

// nav

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .hamburger-icon {
    //hides hamburger icon on large screens
    @include for-tablet-up {
      display: none;
    }
    border: transparent;
    background-color: transparent;
  }

  nav {
    //hide desktop navigation on small screens

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      color: $neutral-500;

      @include for-phone-only {
        display: none;
      }
    }

    ul, button {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
    }

    button {
      background: none;
      padding: 10px 25px;
    }
  }
}

//hero section

.hero-background-container {
  position: relative;
  padding-bottom: 230px;
  
  &::before {
    content: url("../images/bg-pattern-intro-left-mobile.svg");
    position: absolute;
    left: 0;

    //mq
  }

  &::after {
    content: url("../images/bg-pattern-intro-right-mobile.svg");
    position: absolute;
    bottom: 0;
    right: 0;

    //mq
  }

  .hero-text {
    background-color: $primary-800;
    color: $neutral-200;

    padding: 70px 25px;
    text-align: center;
    //mq
  
    h1 {
      font-size: 2.7rem;
      line-height: 1;
      margin-bottom: 15px;
      position: relative;
    }
  
    p {
      margin-bottom: 25px;
      line-height: 1.5;
    }
  }
}

main {
  text-align: center;
  //mq

  h2 {
    font-size: 2.3rem;
    margin-bottom: 70px;
    position: relative;

    &::before {      
      position: absolute;
      content: "";
      width: 150px;
      height: 1px;
      top: -30px;
      left: 0;
      right: 0;
      margin-inline: auto;
      background-color: $neutral-500;
    }
  }
}