/*------------------------------------*\
  #CSS RESET
\*------------------------------------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

body {
  font-family: "Karla", sans-serif;
}

/*------------------------------------*\
  #BASE TWEAKS
\*------------------------------------*/
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.display-none {
  display: none;
}

/*------------------------------------*\
  #MEDIA QUERY MIXINS
\*------------------------------------*/
/*------------------------------------*\
  #CSS RESET
\*------------------------------------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

body {
  font-family: "Karla", sans-serif;
}

/*------------------------------------*\
  #BASE TWEAKS
\*------------------------------------*/
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.display-none {
  display: none;
}

/*------------------------------------*\
  #MEDIA QUERY MIXINS
\*------------------------------------*/
.hero-btn {
  background-color: transparent;
  color: hsl(0deg, 0%, 98%);
  border: 2px solid hsl(0deg, 0%, 98%);
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*------------------------------------*\
  #CSS RESET
\*------------------------------------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

body {
  font-family: "Karla", sans-serif;
}

/*------------------------------------*\
  #BASE TWEAKS
\*------------------------------------*/
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.display-none {
  display: none;
}

/*------------------------------------*\
  #MEDIA QUERY MIXINS
\*------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .hamburger-icon {
  border: transparent;
  background-color: transparent;
}
@media (min-width: 900px) {
  header .hamburger-icon {
    display: none;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  color: hsl(273deg, 4%, 51%);
}
@media (max-width: 899px) {
  header nav ul {
    display: none;
  }
}
header nav ul, header nav button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
header nav button {
  background: none;
  padding: 10px 25px;
}

.hero-background-container {
  position: relative;
  padding-bottom: 230px;
}
.hero-background-container::before {
  content: url("../images/bg-pattern-intro-left-mobile.svg");
  position: absolute;
  left: 0;
}
.hero-background-container::after {
  content: url("../images/bg-pattern-intro-right-mobile.svg");
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-background-container .hero-text {
  background-color: hsl(256deg, 26%, 20%);
  color: hsl(0deg, 0%, 98%);
  padding: 70px 25px;
  text-align: center;
}
.hero-background-container .hero-text h1 {
  font-size: 2.7rem;
  line-height: 1;
  margin-bottom: 15px;
  position: relative;
}
.hero-background-container .hero-text p {
  margin-bottom: 25px;
  line-height: 1.5;
}

main {
  text-align: center;
}
main h2 {
  font-size: 2.3rem;
  margin-bottom: 70px;
  position: relative;
}
main h2::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  top: -30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: hsl(273deg, 4%, 51%);
}/*# sourceMappingURL=style.css.map */